.App {
  text-align: center;
  
}

body{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-family: calibri;
}

form{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.cvComplete{
  width: 600px;
  height: 800px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicInfoForm {
  width: 600px;
  height: 200px;
  
     
 }
 
 .info{
     height: 50px;
     width: 50px;
 }
 
 .secondaryContainer{
     background-color: rgb(255, 255, 255);
     height: 85%;
     width: 85%;
     padding: 50px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content:flex-start;
     border: solid;
     border-width: 1px;
     border-radius: 3px;
     
 }
 
 input {
     width: 500px;
     height: 15px;
     border-radius: 3px;
     padding:5px;
     margin:2px;
     border: none;
     font-size: 12px;
     border: solid;
     border-width: 1px;
     border-color: gray;
     
 }
 
 button {
 
     /* remove default behavior */
     appearance:none;
     -webkit-appearance:none;
   
     /* usual styles */
     padding:10px;
     border:none;
     background-color:#2f45a3;
     color:#fff;
     font-weight:600;
     border-radius:5px;
     width:100%;
   
   }

   h1,h3,h4{
    margin:0;
   }
 
   textarea{
    width: 30rem;
    height:100px;
    
   }

   label{
    color:rgb(7, 63, 148);
    font-weight: 600;
    font-size: 20px;
    
   }

   #break{
    border-bottom: solid;width: 510px;
    border-width: 1px;
   }

   #detailsOne{
    display: flex;
    flex-direction: row;
    
   }






